@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Nunito+Sans:wght@300&family=Nunito:wght@900&display=swap');

:root {
  /* Theme 1 */
    /* Backgrounds */
    --main-bg-1:hsl(222, 26%, 31%);
    --toggle-keypad-bg-1: hsl(223, 31%, 20%);
    --screen-bg-1: hsl(224, 36%, 15%);

    /* keys */
    --key-special-bg-1: hsl(225, 21%, 49%);
    --key-special-shadow-1: hsl(224, 28%, 35%);

    --toggle-key-bg-1: hsl(6, 63%, 50%);
    --toggle-key-shadow-1: hsl(6, 70%, 34%);

    --key-bg-1: hsl(30, 25%, 89%);
    --key-shadow-1: hsl(28, 16%, 65%);

    /* Text */
    --text-number-1: hsl(221, 14%, 31%);
    --special-operations-1: hsl(0, 0%, 100%);

    /* Theme 2 */
    /* Backgrounds */
    --main-bg-2: hsl(0, 0%, 90%);
    --toggle-keypad-bg-2: (0, 5%, 81%);
    --screen-bg-2: hsl(0, 0%, 93%);

    /* keys */
    --key-special-bg-2: hsl(185, 42%, 37%);
    --key-special-shadow-2: hsl(185, 58%, 25%);

    --toggle-key-bg-2: hsl(185, 58%, 25%);
    --toggle-key-shadow-2: hsl(25, 99%, 27%);

    --key-bg-2: hsl(45, 7%, 89%);
    --key-shadow-2: hsl(35, 11%, 61%);

    /* Text */
    --text-number-2: hsl(60, 10%, 19%);
    --special-operations-2: hsl(0, 0%, 100%);

    /* Theme 3 */
    /* Backgrounds */
    --main-bg-3: hsl(268, 75%, 9%);
    --toggle-keypad-bg-3: hsl(268, 71%, 12%);
    --screen-bg-3: hsl(268, 71%, 12%);

    /* keys */
    --key-special-bg-3: hsl(281, 89%, 26%);
    --key-special-shadow-3: hsl(285, 91%, 52%);

    --toggle-key-bg-3: hsl(176, 100%, 44%);
    --toggle-key-shadow-3: hsl(177, 92%, 70%);

    --key-bg-3: hsl(268, 47%, 21%);
    --key-shadow-3: hsl(290, 70%, 36%);

    /* Text */
    --text-number-3: hsl(52, 100%, 62%);
    --special-operations-2: hsl(198, 20%, 13%);
    --equal-3: hsl(0, 0%, 100%);

    --font-family: 'League Spartan', sans-serif;
}


* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html, body, #root {
  height: 100%;
  width: 100%;
}